* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #111;
  padding: 10px;
  border-radius: 5px;
}

.contactForm {
  display: inline;
  margin: 0 auto;
}

.contactForm,
input {
  height: 50px;
  width: 50%;
}

.contactForm,
button {
  height: 50px;
  width: 50%;
  background: #3796ef;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.contactForm button:hover {
  background: #abaed8;
}

.contactItem {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #e8eaf7;
  border-radius: 5px;
}

.contactImage {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  float: left;
}

.contactLabel,
.contactEmail {
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
}
